<% layout("layouts/boilerplate") %>

    <div class="container mt-5">
        <div class="row justify-content-center">


            <div class="col-md-7 mx-auto">

                <div class="card shadow border-0 rounded-4">
                    <div class="card-body p-4">

                        <h3 class="text-center mb-4 fw-bold">
                            Update Listing
                        </h3>
                        <br>

                        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                            class="needs-validation" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Title</label>
                                <input name="listing[title]" value="<%= listing.title %>" class="form-control rounded-3"
                                    type="text" required>
                                    <div class="invalid-feedback">Please enter a valid title</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Description</label>
                                <textarea name="listing[description]" class="form-control rounded-3" rows="4"
                                    required><%= listing.description %></textarea>
                                    <div class="invalid-feedback">A short description is required</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Original Image</label><br>
                                <img src="<%= originalImageUrl %>" alt="listing image" 
                                style="width: 250px; height: 180px; object-fit: cover; border-radius: 8px;">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Upload New Image</label>
                                <input name="listing[image]"  class="form-control rounded-3"
                                    type="file">
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label fw-semibold">Price (₹)</label>
                                    <input name="listing[price]" value="<%= listing.price %>"
                                        class="form-control rounded-3" type="number" required>
                                        <div class="invalid-feedback">Please enter a valid price</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="form-label fw-semibold">Location</label>
                                    <input name="listing[location]" value="<%= listing.location %>"
                                        class="form-control rounded-3" type="text" required>
                                        <div class="invalid-feedback">Please enter the valid location</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Country</label>
                                <input name="listing[country]" value="<%= listing.country %>"
                                    class="form-control rounded-3" type="text" required>
                                    <div class="invalid-feedback">Country name is required</div>
                                <br>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary btn-sm">
                                    Update
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>